<div class="header-section-wrapper">
  {% render 'header' %}
</div>

<style>
  .header-section-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
  }
</style>

{% schema %}
{
  "name": "Header Navbar",
  "settings": [],
  "presets": [
    {
      "name": "Header Navbar"
    }
  ]
}
{% endschema %}
