<section class="products">
  <h1>{{ collections.hydrogen.title }}</h1>
  <div class="products-container">
    <div class="products-wrapper">
      {% for product in collections.hydrogen.products %}
        <div class="products-card">
          <img width="300" height="300" loading="lazy" src="{{ product.featured_image | image_url }}" alt="">

          <h3>{{ product.title | link_to: product.url }}</h3>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .products {
    padding: 10px;
  }

  .products-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    justify-content: space-around;
  }

  .products-container {
    position: relative;
    overflow-x: auto;
  }

  .products-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 a {
      color: inherit;
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
        opacity: 0.75;
      }
    }
  }
</style>

{% schema %}
{
  "name": "products",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Products"
    }
  ]
}
{% endschema %}
